body { 
    /*background-color: wheat*/
    background: linear-gradient(to bottom right, rgb(113,177,129), rgb(20,77,95));
    background-repeat: no-repeat;
    background-size: 100% 300%;
    display: flex;
    min-height: 95vh;
    margin: 0;
}
.SocialMedia {
    margin-top: 10px;
    color: wheat;
    text-align: center;
}
image {
    color: transparent;
    border: 0px;
    cursor: pointer;
    outline: none;
}
h1 {
    font-size: 250%;
    font-family: "Segoe Script";
    color: white;
    margin: auto;
    text-align: center;
}
.container {
    background: white;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 2%;
    display: block;
}
input {
    display: block;
    margin: auto !important;
    width: 95%;
    height: 30px;
    border: 2px solid rgb(113,177,129);
    border-radius: 10px;
    margin: 5px 5px 5px 0px;
    outline: none;
    transition: all 0.4s;
}
input:focus{
    width: 100%;
}
label {
    color: black;
    font-size: 125%;
    margin: auto;
    text-align: center;
    display: block;
}
* {
    box-sizing: border-box;
    font-family: "Helvetica";
}
button {
    background-color: white;
    border: 2.5px solid  rgb(113,177,129);
    border-radius: 10px;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    padding: 2% 10%;
    transition: all 0.3s;
}
button:hover {
    background-color:rgb(113,177,129);
    color: white;
}
a{
    color: transparent;
}
button[type="submit"] {
    margin-bottom: 15px;
}
.Profile {
    margin: auto;
    text-align: center;
    display: block;
    background-color: rgb(113,177,129);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
}
.SocialBar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(-0%, -50%);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
.Icon {
    color: white;
    text-decoration: none;
    padding: .5rem;
    display: flex;
    transition: padding .5s, background 2s;
}
.Icon:hover {
    padding: 2rem;
    box-shadow: 0 0 .5 rgba(0,0,0,0.42);
}
.icon-facebook {
    background: rgb(20,77,95);
}
.icon-facebook:hover {
    background: #3b5998;
}
.icon-youtube {
    background: rgb(20,77,95);
}
.icon-youtube:hover {
    background: #c4302b;
}
.icon-instagram {
    background: rgb(20,77,95);
}
.icon-instagram:hover {
    background: rgb(221,42,123)
}
.Icon:first-child {
    border-radius: 1rem 0 0 0;
}
.Icon:last-child {
    border-radius: 0 0 0 1rem;
}
.Centrado {
    margin: auto;
    border: 0px solid #aaa;
}