body {
    background-color: bisque;
}
* {
    font-family: 'Segoe UI';
    box-sizing: border-box;
}
span {
    background-color: white;
    padding: 1rem;
    border: 1px solid black;
    text-align: center;
    padding-left: 0; 
    padding-right: 0; 
    margin-left: 40%; 
    margin-right: 40%; 
    display: block;
}
canvas { 
    padding-left: 0; 
    padding-right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: block; 
    background-color: white;
    border: 1px solid black;
} 
