
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-github:before { content: '\f056'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */